
.kotak{
    border: 5px solid rgb(158, 54, 54);
    padding: 10px;
}
.judul{
    background-color: rgb(158, 54, 54);
    text-align: center;
}
h1{
    color: aliceblue;
}
.kiri{
    width: 20%;
    float: left;
}
img{
    width: 100%
}
.kanan{
    width: 70%;
    padding: 0px 20px;
    float: left;
}
.blok{
    overflow: hidden;
}

th{
    text-align: left;
}
a{
    text-decoration: none;
}
